.music-bottom{
    position: fixed;
    bottom:0;
    left:0;
    display: flex;
    height: 1rem;
    width:100%;
    background:#fff;
    flex-direction:row;
    border-top:0.02rem solid #e6e6fa;
    .icon{
        width:25%;
        flex:0 1 auto;
        line-height:1rem;
        text-align: center;
        color:#e6e6fa;
        font-size: 0.5rem;
    }
    .iconselect{
        color:#6A5ACD;
    }
}
