$bgColor: #6A5ACD;
$bdColor:#e6e6fa;
$iconColor:#CDC5BF;
@mixin border-min-px($color) { 
    position:relative;
    &:after{
        content: "  ";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0.02rem;
        background-color:$color;
        /* 如果不用 background-color, 使用 border-top:1px solid #f00; 效果是一样的*/
        -webkit-transform: scaleY(.5);
        transform:scaleY(.5);
    }      
}